<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createUserForm" (submit)="createUser()">
    <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        Name
      </ion-label>
      <ion-input formControlName="name" type="text" placeholder="Your Name">

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        Email
      </ion-label>
      <ion-input formControlName="email" type="text" placeholder="Your Email">

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        Password
      </ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your Password">

      </ion-input>
    </ion-item>
    <br />
    <br />
    <ion-button type="submit" [disabled]="!createUserForm.valid" class="ion-float-right">
      Sign Up
    </ion-button>

  </form>

</ion-content>