<ion-header translucent>
  <ion-toolbar>
    <ion-title>Request a loan</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeLoanModal()"> Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Loan</ion-card-subtitle>
      <ion-card-title>Pick an amount</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <p>
          The loan amount should be between LKR100 and LKR1000
        </p>
      </ion-item>
        <br/>
        <ion-item>

        <ion-range [(ngModel)]="newLoan" pin min="100" max="1000" step="100" class="ion-padding">
          <ion-icon size="small" slot="start" name="cash"></ion-icon>
          <ion-icon slot="end" name="cash"></ion-icon>
        </ion-range>
        <br/>
        <ion-label>{{newLoan}}</ion-label>
      </ion-item>
      
      <br>
      <ion-button expand="block" (click)="getLoan()" disabled="{{isLoanOk}}">
        <ion-icon slot="start" name="checkmark-circle"></ion-icon>
        Get Loan
      </ion-button>
    </ion-card-content>

  </ion-card>

  <p *ngIf="isLoanOk" class="ion-padding">
    Tap Close to go back
  </p>

</ion-content>