<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>{{profileTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollY=true>

  <ion-card padding>
    <ion-card-subtitle padding-bottom>
      Profile Details
    </ion-card-subtitle>
    <div class="logo">
      <div class="logo-img">


        <img src="{{ImgSrc}}" />


      </div>

    </div>

    <ion-item lines="none">
      <ion-icon name='person' slot="start" class="list-color"></ion-icon>
      <ion-label>{{name}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name='mail' slot="start" class="list-color"></ion-icon>
      <ion-label>{{user_email}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name='call' slot="start" class="list-color"></ion-icon>
      <ion-label>{{phone}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name='paper' slot="start" class="list-color"></ion-icon>
      <ion-label>{{NIC}}</ion-label>
    </ion-item>


    <ion-button expand="block" class="ion-float-right" (click)="Profile_update()" padding-top padding-bottom>
      <ion-icon name='create' slot="start" class="list-color"></ion-icon>
      Edit profile
    </ion-button>


  </ion-card>



  <ion-card padding>
    <ion-card-subtitle>
      Account Details
    </ion-card-subtitle>

    <ion-item lines="none">
      <ion-icon name="card" slot="start" class="list-color"></ion-icon>
      <ion-label>AccountNum :</ion-label>
      <ion-label>{{Acc_num}}</ion-label>
    </ion-item>


    <ion-item lines="none">
      <ion-icon name="cash" slot="start" class="list-color"></ion-icon>
      <ion-label>Balances :</ion-label>
      <ion-label> {{amount}}.00 LKR</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="hourglass" slot="start" class="list-color"></ion-icon>
      <ion-label>Loan :</ion-label>
      <ion-label>{{loan}}.00 LKR</ion-label>
    </ion-item>
    <ion-button expand="block" (click)="topUp()">
      Top Up
    </ion-button>
  </ion-card>
</ion-content>