.bg-color{
    --ion-background-color: black;
      position: relative;
      margin: 15px;
}

.logo{
    position: relative;
    height:250px;
    
}
.logo-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-color: white;
}
.logo-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border-width: 3px;
    border-style: solid;
    border-color: #ccc #666;
    margin-bottom: 80px;
    
}

.login-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 10% ; 
      
}

.login-list{
    width:350px;
   --ion-background-color:white;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #ccc #666;
    margin-bottom: 25px;
    
}

.input-text{
    font-size:1.25rem;
    color:#666;
    font-weight:700;
}

.login-btn{
    position: absolute;
     width:350px;
     height:50px;
     background-color:#fc4503;
     border-radius: 15px;
     border-width: 3px;
     color:White;
     font-size: 1.5rem;
     font-weight: 600;
     margin-bottom:20px; 

}