<ion-content padding class="bg-color">
  <!-- <div class="logo">
    <div class="logo-img">
      <img src="../../../assets/img/logo.png"/>
    </div>
  </div> -->


  <form [formGroup]="userLoginForm" (ngSubmit)="userLogin(userLoginForm.value)" class="login-form">
    <ion-item class="login-list">
      <ion-label position="fixed">{{lblEmail}}</ion-label>
      <ion-input formControlName="email" type="email" class="input-text">

      </ion-input>
    </ion-item>
    <ion-item class="login-list">
      <ion-label position="fixed">{{lblPassword}}</ion-label>
      <ion-input formControlName="password" type="password" class="input-text">

      </ion-input>
    </ion-item>
    <br />
    <br />
    <ion-button type="submit" [disabled]="!userLoginForm.valid" class="login-btn">
      {{btnSignInText}}
    </ion-button><br /><br /><br /><br />
    <ion-button type="submit" class="login-btn">
      {{btnSignUpText}}
    </ion-button>
  </form>

</ion-content>