

<ion-content padding class="bg-color">
  <!-- <div class="logo">
    <div class="logo-img">
      <img src="../../../assets/img/logo.png"/>
    </div>
  </div> -->


  <form [formGroup]="userLoginForm" (ngSubmit)="userLogin(userLoginForm.value)" class="login-form">
    <ion-item class="login-list">
        <ion-label position="floating" class="input-text">Email</ion-label>
      <ion-input formControlName="email" type="email" class="input-text">

      </ion-input>
    </ion-item>
    <ion-item class="login-list">
        <ion-label position="floating" class="input-text">Password</ion-label>
      <ion-input formControlName="password" type="password" class="input-text">

      </ion-input>
    </ion-item>
    <br/>
    <br/>
    <button type="submit" [disabled]="!userLoginForm.valid" class="login-btn">
      SIGN IN
    </button><br/><br/><br/><br/>
    <button type="submit"  class="login-btn">
        SIGN UP
      </button>
  </form>
  
</ion-content>
