<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/profile"> </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<div class="logo">
  <div class="logo-img">

    <img [src]="ImgSrc" accept="image/*" (click)="fileUploader.click()"/>
   


  </div>

</div>


<ion-content>
  <form [formGroup]="createUserEditForm" (submit)="Profile_update(createUserEditForm.value)">
    <ion-item>
          
      <ion-input formControlName="photoURL"  #fileUploader type="file"  (change)="showPerview($event)">

      </ion-input>
    </ion-item>
  
    <ion-item>

      <ion-input formControlName="username" value={{user_name}} type="text" placeholder="Prefered Username">

      </ion-input>
    </ion-item>

    <ion-item>

      <ion-input formControlName="phone" value={{phone}} type="text" placeholder="Your Name">

      </ion-input>
    </ion-item>
    <ion-item>

      <ion-input formControlName="nic" value={{NIC}} type="text" placeholder="Your Name">

      </ion-input>
    </ion-item>

    <ion-item>

      <ion-input formControlName="email" [disabled]="!email" value={{user_email}} type="email" placeholder="Your Email">

      </ion-input>
    </ion-item>

    <br />
    <br />
    <ion-button type="submit" class="ion-float-right" padding>
      <ion-icon name='save' slot="start" class="list-color" padding-right padding-left></ion-icon>
      Save
    </ion-button>


  </form>
</ion-content>