<ion-header>
  <ion-toolbar>
    <ion-title>profile-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="createUserEditForm" (submit)="Profile_update()">
        <ion-item>
          
          <ion-input formControlName="username" value={{user_name}}  type="text" placeholder="Prefered Username">
    
          </ion-input>
        </ion-item>
    
        <ion-item>
         
          <ion-input formControlName="name"  value={{n_ame}} type="text" placeholder="Your Name">
    
          </ion-input>
        </ion-item>
    
        <ion-item>
          
          <ion-input formControlName="email" [disabled]="!email" value={{user_email}} type="email" placeholder="Your Email">
    
          </ion-input>
        </ion-item>
    
        <br />
        <br />
        <ion-button type="submit" [disabled]="!createUserEditForm.valid" class="ion-float-right">
          UPDATE
        </ion-button>
        </form>
</ion-content>
